/* ATTENTION: this file must be kept in sync with OLRMain application version. */
body {
    background-color: blue;
    margin: 0px;
}
.very-short { /* 1 => used to display answers.  */
    width: 20vw;
    height: 20vh;
    font-family: "Times New Roman", serif;
    font-size: 5vw;
    color: white;
    margin: 40vh 40vw;
    border: 1px solid red;
}
.short {  /* 2 => not currently used.  */
    width: 30vw;
    height: 30vh;
    font-family: "Times New Roman", serif;
    font-size: 5vw;
    color: white;
    margin: 40vh 40vw;
    border: 1px solid red;
}
.medium { /* 3 => used for most questions.  */
    width: 50vw;
    height: 50vh;
    font-family: "Times New Roman", serif;
    font-size: 5vw;
    color: white;
    margin: 25vh 25vw;
    border: 1px solid red;
}
.long {/* 4 => used for long questions.  */
    width: 65vw;
    height: 65vh;
    font-family: "Times New Roman", serif;
    font-size: 4vw;
    color: white;
    margin: 17.5vh 17.5vw;
    border: 1px solid red;
}
.very-long {/* 5 => used for very long questions.  */
    width: 80vw;
    height: 80vh;
    font-family: "Times New Roman", serif;
    font-size: 4vw;
    color: white;
    margin: 10vh 10vw;
    border: 1px solid red;
}
.figure {float: right}
/* extra stuff for determining format value.
*/
.align-radio-center {
    margin: 10px;
    text-align: center;
}